<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackuniv.daanveer">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/daanveer6"
        android:label="@string/app_name"
        android:roundIcon="@drawable/daanveer6"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaanVeer">
        <activity
            android:name=".DonatorHistory"
            android:exported="false" />
        <activity
            android:name=".InProgressDonation"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />
        <activity
            android:name=".OrgSkeleton"
            android:exported="false" />
        <activity
            android:name=".InProgressActivity"
            android:exported="false" />
        <activity
            android:name=".DonationSkeleton"
            android:exported="false" />
        <activity
            android:name=".RejectedDonation"
            android:exported="false" />
        <activity
            android:name=".Model.FounderEditProfile"
            android:exported="false" />
        <activity
            android:name=".Model.OrganisationEditProfile"
            android:exported="false" />
        <activity
            android:name=".OrgProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CharityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpecificRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllRequestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DeliveryMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectOrg"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrgIntro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model.OrgFounderDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model.OrgDetails"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model.DonatorEditProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LetsDonate"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonatorProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonatorIntro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Model.DonatorDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DonatorActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserType"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpPhoneNumber"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>